CompileFlags:
  Add: [-mlong-calls, -ferror-limit=0, -isysroot=$HOME/.platformio/packages/toolchain-xtensa-esp32]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields]
