[submodule "PN532"]
	path = components/PN532
	url = https://github.com/rednblkx/PN532.git
	branch = esp-idf
[submodule "HK-HomeKit-Lib"]
	path = components/HK-HomeKit-Lib
	url = https://github.com/rednblkx/HK-HomeKit-Lib.git
	branch = main
[submodule "HomeSpan"]
	path = components/HomeSpan/upstream
	url = https://github.com/HomeSpan/HomeSpan.git
	branch = release-2.1.6
[submodule "components/msgpack-c/upstream"]
	path = components/msgpack-c/upstream
	url = https://github.com/msgpack/msgpack-c.git
	branch = c_master
[submodule "components/loggable"]
	path = components/loggable
	url = https://github.com/rednblkx/loggable-esp32.git
[submodule "components/event_bus"]
	path = components/event_bus
	url = https://github.com/rednblkx/esp32-event-bus.git
