CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="with_ota.csv"
CONFIG_ARDUINO_USE_USB_JTAG=y
CONFIG_AUTOSTART_ARDUINO=y
CONFIG_ARDUINO_SELECTIVE_COMPILATION=y
CONFIG_ARDUINO_SELECTIVE_Wire=n
CONFIG_ARDUINO_SELECTIVE_ESP_SR=n
CONFIG_ARDUINO_SELECTIVE_EEPROM=n
CONFIG_ARDUINO_SELECTIVE_Preferences=n
CONFIG_ARDUINO_SELECTIVE_Ticker=n
CONFIG_ARDUINO_SELECTIVE_Zigbee=n
CONFIG_ARDUINO_SELECTIVE_SD=n
CONFIG_ARDUINO_SELECTIVE_SD_MMC=n
CONFIG_ARDUINO_SELECTIVE_SPIFFS=n
CONFIG_ARDUINO_SELECTIVE_FFat=n
CONFIG_ARDUINO_SELECTIVE_PPP=n
CONFIG_ARDUINO_SELECTIVE_HTTPClient=n
CONFIG_ARDUINO_SELECTIVE_Matter=n
CONFIG_ARDUINO_SELECTIVE_NetBIOS=n
CONFIG_ARDUINO_SELECTIVE_WebServer=n
CONFIG_ARDUINO_SELECTIVE_NetworkClientSecure=n
CONFIG_ARDUINO_SELECTIVE_BLE=n
CONFIG_ARDUINO_SELECTIVE_BluetoothSerial=n
CONFIG_ARDUINO_SELECTIVE_RainMaker=n
CONFIG_ARDUINO_SELECTIVE_OpenThread=n
CONFIG_ARDUINO_SELECTIVE_Insights=n
CONFIG_ESP_RMAKER_NO_CLAIM=y
CONFIG_ESP_RMAKER_MQTT_USE_BASIC_INGEST_TOPICS=n
CONFIG_ESP_RMAKER_MQTT_ENABLE_BUDGETING=n
CONFIG_ESP_RMAKER_USE_CERT_BUNDLE=n
CONFIG_ESP_RMAKER_OTA_AUTOFETCH=n
CONFIG_ESP_RMAKER_OTA_TIME_SUPPORT=n
CONFIG_ESP_RMAKER_CMD_RESP_ENABLE=n
CONFIG_ESP_RMAKER_USING_NETWORK_PROV=n
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_ESP_ERR_TO_NAME_LOOKUP=n
CONFIG_USJ_NO_AUTO_LS_ON_CONNECTION=y
CONFIG_ETH_SPI_ETHERNET_DM9051=y
CONFIG_ETH_SPI_ETHERNET_W5500=y
CONFIG_ETH_SPI_ETHERNET_KSZ8851SNL=y
CONFIG_ESP_NETIF_RECEIVE_REPORT_ERRORS=y
CONFIG_ESP_PHY_REDUCE_TX_POWER=y
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_IEEE802154_ENABLED=n
CONFIG_LOG_VERSION_2=y
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_LOG_COLORS=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_MBEDTLS_ECP_DP_SECP192R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP224R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP384R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP521R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP192K1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP224K1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP256K1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_BP256R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_BP384R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_BP512R1_ENABLED=n
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_MBEDTLS_ERROR_STRINGS=n
CONFIG_MBEDTLS_FS_IO=n
CONFIG_MQTT_TRANSPORT_WEBSOCKET=n
CONFIG_MQTT_SKIP_PUBLISH_IF_DISCONNECTED=y
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_0=n
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_2=n
CONFIG_SPI_FLASH_SUPPORT_BOYA_CHIP=y
CONFIG_WS_DYNAMIC_BUFFER=y
CONFIG_WIFI_PROV_STA_FAST_SCAN=y
CONFIG_FMB_COMM_MODE_RTU_EN=n
CONFIG_FMB_COMM_MODE_ASCII_EN=n
CONFIG_FMB_CONTROLLER_SLAVE_ID_SUPPORT=n
CONFIG_DIAG_ENABLE_METRICS=n
CONFIG_DIAG_ENABLE_VARIABLES=n
CONFIG_DIAG_USE_EXTERNAL_LOG_WRAP=y
CONFIG_NETWORK_PROV_WIFI_STA_FAST_SCAN=y
CONFIG_ESP_RMAKER_MQTT_SEND_USERNAME=n
CONFIG_ESP_RMAKER_MQTT_USE_CERT_BUNDLE=n
CONFIG_ESP_RMAKER_FACTORY_PARTITION_NAME=""
CONFIG_ESP_RMAKER_FACTORY_NAMESPACE=""
CONFIG_ESP_RMAKER_DEF_TIMEZONE=""
CONFIG_ESP_RMAKER_SNTP_SERVER_NAME=""
CONFIG_HTTPD_WS_SUPPORT=y
