# Flash encryption build variant (layered on top of sdkconfig.defaults)
CONFIG_SECURE_FLASH_ENC_ENABLED=y
CONFIG_SECURE_FLASH_ENCRYPTION_MODE_RELEASE=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="with_ota_encrypted.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xD000
CONFIG_ESP32_REV_MIN_3=y
CONFIG_SECURE_DISABLE_ROM_DL_MODE=y
CONFIG_NVS_ENCRYPTION=y
CONFIG_NVS_SEC_KEY_PROTECT_USING_FLASH_ENC=y
