:root {
  background-color: #353030;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0.05rem, transparent 8%);
  background-size: 2vh 2.2vh;
}

fieldset {
    border-color: black;
}

h2 {
    background: repeating-linear-gradient( 135deg, transparent, transparent 9px, #8e8271 10px, #8e8271 10px );
    margin: 0!important;
    padding: 1rem!important;
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;         
}

p,
h5,
h3,
h4,
h2,
h1,
label,
li,
ul,
legend {
    color: white;
}

* {
    border-color: #8e8271;
}

.destructive-btn {
  background-color: hsl(0 62.8% 30.6%/1);
  color: white;
}

.selected-btn {
    opacity: .5;
}

button {
    padding: .5rem .8rem .5rem .8rem;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    color: hsl(240 5.9% 10%);
    background-color: hsl(0 0% 98%);
    border-radius: calc(0.5rem - 2px);
    white-space: nowrap;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    display: inline-flex;
    background-image: none;
    text-transform: none;
    border-color: hsl(240 3.7% 15.9%) !important;
}

div[class$="-selected-body"] {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    padding-bottom: .5rem;
    gap: 16px;
}

h3[class$="-selected-tab"] {
    border-bottom: 2px #8e8271 solid;
}

div[class$="-hidden-body"] {
    display: none;
}

@media only screen and (min-width: 800px) {
    button:hover {
        opacity: .9;
    }

    #restart-btn:hover {
        opacity: .8;
    }

    #restart-btn:active {
        background-color: #4040402e!important;
    }

    #mqtt-broker-con, #mqtt-topics-container {
        min-width: 20rem;
        max-width: 25rem;
    }
    .cards-container {
        align-items: flex-start;
    }
    #component {
        max-width: 65rem;
    }
}

@media only screen and (max-width: 600px) {
    #top-bar {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    #top-btns {
        flex-wrap: wrap;
        justify-content: center;
    }
    #mqtt-broker, #mqtt-topics {
        width: auto;
    }
    .cards-container {
        flex-direction: column;
    }
    .nfc-triggers-selected-body {
        flex-wrap: wrap;
    }
}

.fill-container {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

#buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 64px;
}


.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.loader::after {
    content: '';  
    width: 96px;
    height: 4.8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 0.6s ease-in-out infinite alternate;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-1%);
    }
    100% {
        left: 100%;
        transform: translateX(-99%);
    }
}