:root {
  background-color: #353030;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0.05rem, transparent 8%);
  background-size: 2vh 2.2vh;
}

fieldset {
    border-color: black;
}

h2 {
    background: repeating-linear-gradient( 135deg, transparent, transparent 9px, #8e8271 10px, #8e8271 10px );
    margin: 0!important;
    padding: 1rem!important;
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;         
}

h5 {
    color: rgb(156, 147, 134)!important;
}

p,
h5,
h3,
h4,
h2,
h1,
label,
li,
ul,
legend {
    color: white;
}

* {
    border-color: #8e8271;
}

.destructive-btn {
  background-color: hsl(0 62.8% 30.6%/1);
  color: white;
}

.selected-btn {
    opacity: .5;
}

button {
    padding: .5rem .8rem .5rem .8rem;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    color: hsl(240 5.9% 10%);
    background-color: hsl(0 0% 98%);
    border-radius: calc(0.5rem - 2px);
    white-space: nowrap;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    display: inline-flex;
    background-image: none;
    text-transform: none;
    border-color: hsl(240 3.7% 15.9%) !important;
}

.tabs-list {
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

input[type="number"]{
    max-width: 5rem;
}

.tabs-container {
    margin-bottom: .5rem;
}

div[class$="-selected-body"] {
    display: flex;
    flex-direction: column;
    padding-inline: .5rem;
    padding-block: .5rem;
    gap: 16px;
}

[class$="-selected-tab"] {
    border-bottom: 2px #8e8271 solid;
    background: linear-gradient(180deg, rgba(174,152,118,0.05) 0%, rgba(150,134,110,0.15) 50%, rgba(142, 130, 113, 0.35) 100%);
    border-radius: .2rem .2rem 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.1), 0 0 40px rgba(0,0,0,0.1), 0 0 60px rgba(0,0,0,0.1);
    font-weight: bold;
    color: white!important;
}

.tab-btn {
    margin: 0;
    width: fit-content;
    padding: 0.5rem;
    cursor: pointer;
    color: gray;
}

div[class$="-hidden-body"] {
    display: none;
}

.flex-col-lg {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.flex-row-lg {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.cards-container {
    display: flex;
    gap: 16px;
}

@media only screen and (max-width: 600px) {
    #top-bar {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    #top-btns {
        flex-wrap: wrap;
        justify-content: center;
    }
    #mqtt-broker, #mqtt-topics {
        width: auto;
    }
    .cards-container {
        flex-direction: column;
    }
    .nfc-triggers-selected-body {
        flex-wrap: wrap;
    }
    #component {
        max-width: 90dvw;
    }
    .flex-sm {
        display: flex;
        gap: inherit;
        flex-direction: inherit;
        gap: 16px;
    }
    .around-sm {
        justify-content: space-around;
    }
    .flex-center-sm {
        align-items: center;
    }
    .flex-end-sm {
        align-items: flex-end;
    }
}

@media only screen and (min-width: 800px) {
    button:hover {
        opacity: .9;
    }

    .restart-btn:hover {
        opacity: .8;
    }

    .restart-btn:active {
        background-color: #4040402e!important;
    }
    .selected-btn:hover {
        opacity: .7;
    }

    #mqtt-broker-con, #mqtt-topics-container {
        min-width: 20rem;
        max-width: 25rem;
    }
    .cards-container {
        align-items: flex-start;
    }
    #component {
        max-width: 65rem;
    }
}

@media only screen and (max-width: 1090px) {
    .flex-sm {
        display: flex;
        gap: inherit;
        flex-direction: inherit;
        gap: 16px;
    }
    .around-sm {
        justify-content: space-around;
    }
    .flex-center-sm {
        align-items: center;
    }
    .flex-col-sm {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media only screen and (min-width: 1090px) {
    .flex-center-lg {
        align-items: center;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    border: 1px #8e8271 solid;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 1px 1px 0px;
    background-color: #2d1d1d;
    flex: 1;
}

select {
    max-width: fit-content;
    text-align: center;
}

#buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 64px;
}


.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.loader::after {
    content: '';
    width: 96px;
    height: 4.8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 0.6s ease-in-out infinite alternate;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-1%);
    }
    100% {
        left: 100%;
        transform: translateX(-99%);
    }
}

.text-center { text-align: center; }
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1rem; }
.my-0 { margin-top: 0; margin-bottom: 0; }
.p-0 { padding: 0; }
.m-0 { margin: 0; }
.d-flex { display: flex; }
.flex-col { display:flex; flex-direction: column; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.gap-1 { gap: 1rem; }
.gap-8px { gap: 8px; }
.cursor-pointer { cursor: pointer; }

body { display: flex; flex-direction: column; }
#top-bar { display: flex; justify-content: space-between; margin-bottom: 1rem; }
#top-bar-logo { display: inline-flex; align-items: center; gap: 8px; }
#top-bar h2 { background: none !important; padding: 0 !important; margin: 0 !important; text-align: center; }
#top-bar p { margin-top: 0; margin-bottom: 0; text-align: center; }
#top-btns { display: flex; gap: 8px; align-items: center; }
.top-btn { background-color: #ffffff2e; border: 1px solid white; padding: 0.5rem; cursor: pointer; gap: 8px; display: inline-flex; align-items: center; }
.top-btn:active, .top-btn.active-touch { background-color: #4040402e!important; }
.top-btn img { object-fit: contain; }
.top-btn p { margin: 0; }
#main { border: 2px groove #8e8271; padding: 1rem; background-color: #003232; margin-bottom: 1rem; align-self: center; }
#main-nav { gap: 1rem; display: flex; justify-content: center; }
#main-nav button { padding: .6rem; cursor: pointer; }
#main-divider { margin-top: 1rem; border: 1px dashed #8e8271; box-sizing: border-box; width: 100%; height: 1px; display: inline-block; }
#component { display: flex; flex-direction: column; margin-bottom: 1rem; }
.loader { margin-top: .5rem; }
#config-form { display: inline-flex; flex-direction: column; margin-bottom: 0; }
#config-form h2, #config-form h3 { text-align: center; }
#config-form h3 { margin-top: 0; }
#config-form h5 { text-align: center; margin-top: 0; }
.form-h5 { margin-bottom: 1rem; }
.divider-dark { height: 1px; border-top: 1px #424242 solid; display: block; margin: 0; padding: 0; }
.w-fit-content { width: fit-content; }
.p-1rem { padding: 1rem; }
.p-half-rem { padding: .5rem; }
.d-inline-flex { display: inline-flex; }

.flex-wrap { flex-wrap: wrap; }
.justify-evenly { justify-content: space-evenly; }
.items-end { align-items: flex-end; }
.gap-2px { gap: 2px; }
.gap-10px { gap: 10px; }
.gap-16px { gap: 16px; }
.gap-32px { gap: 32px; }
.gap-64px { gap: 64px; }
.px-1rem { padding-inline: 1rem; }
.py-half-rem { padding-block: .5rem; }
.pb-0 { padding-bottom: 0; }
.w-4rem { width: 4rem; }
.max-w-14rem { max-width: 14rem; }
.max-w-26rem { max-width: 26rem; }
.max-w-7rem { max-width: 7rem; }
.max-w-3-half-rem { max-width: 3.5rem; }
.justify-safe-center { justify-content: safe center; }
.border-solid-gray { border: 1px #8e8271 solid; }
.m-1rem { margin: 1rem; }

.responsive-fieldset {
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
    .responsive-fieldset {
        width: calc(50% - 5px);
    }
}
