# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    tags:
      - 'v0.*'
    paths-ignore:
      - '.vscode/**'
      - '.gitignore'
      - 'LICENSE'
      - '*.md'
      - 'docs/**'

jobs:
  littlefs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: 'data'
      - name: Delete old dev release
        run: gh release delete dev --cleanup-tag -y
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install LittleFS Tool
        run: pip install littlefs-python
      - name: Install dependencies
        run: bun install
        working-directory: data
      - name: Build
        run: bun run build
        working-directory: data
      - name: Remove extra, only keep compressed
        run: find build -regex ".*\.\(html.gz\|css\|br\|js\|json.gz\)" -delete
        working-directory: data
      - name: Create LittleFS Image
        run: littlefs-python create $(pwd)/build littlefs.bin -v --fs-size=0x20000 --name-max=64 --block-size=4096
        working-directory: data
      - name: Archive build directory
        uses: actions/upload-artifact@v4
        with:
          name: ui-build-directory
          path: data/build
          retention-days: 1
      - name: Archive LittleFS image
        uses: actions/upload-artifact@v4
        with:
          name: littlefs-binary
          path: data/littlefs.bin
  esp32:
    runs-on: ubuntu-latest
    needs: littlefs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: 'recursive'
      - name: Get UI Build Directory
        uses: actions/download-artifact@v5
        with:
          name: ui-build-directory
          path: data/build
      - uses: actions/cache@v4
        with:
          path: |
            ~/.ccache
            managed_components
          key: ${{ runner.os }}-esp32-build
      - name: ESP32 Build
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.5.2
          target: esp32
          path: '.'
          extra_docker_args: -v ~/.ccache:/root/.ccache -e CCACHE_DIR=/root/.ccache
          command: CI=true idf.py --ccache build && idf.py merge-bin
      - name: Rename firmware
        run: sudo chown -R $USER:$USER build/ && mv build/HomeKey-ESP32.bin build/esp32.firmware.bin && mv build/merged-binary.bin build/esp32.firmware.factory.bin
      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: esp32-firmware
          path: build/esp32.firmware.bin
      - name: Archive merged binary
        uses: actions/upload-artifact@v4
        with:
          name: esp32-firmware-factory
          path: build/esp32.firmware.factory.bin
  esp32c3:
    runs-on: ubuntu-latest
    needs: littlefs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: 'recursive'
      - name: Get UI Build Directory
        uses: actions/download-artifact@v5
        with:
          name: ui-build-directory
          path: data/build
      - uses: actions/cache@v4
        with:
          path: |
            ~/.ccache
            managed_components
          key: ${{ runner.os }}-esp32c3-build
      - name: ESP32C3 Build
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.5.2
          target: esp32c3
          path: '.'
          extra_docker_args: -v ~/.ccache:/root/.ccache -e CCACHE_DIR=/root/.ccache
          command: CI=true idf.py --ccache build && idf.py merge-bin
      - name: Rename firmware
        run: sudo chown -R $USER:$USER build/ && mv build/HomeKey-ESP32.bin build/esp32c3.firmware.bin && mv build/merged-binary.bin build/esp32c3.firmware.factory.bin
      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: esp32c3-firmware
          path: build/esp32c3.firmware.bin
      - name: Archive merged binary
        uses: actions/upload-artifact@v4
        with:
          name: esp32c3-firmware-factory
          path: build/esp32c3.firmware.factory.bin
  esp32c6:
    runs-on: ubuntu-latest
    needs: littlefs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: 'recursive'
      - name: Get UI Build Directory
        uses: actions/download-artifact@v5
        with:
          name: ui-build-directory
          path: data/build
      - uses: actions/cache@v4
        with:
          path: |
            ~/.ccache
            managed_components
          key: ${{ runner.os }}-esp32c6-build
      - name: ESP32C6 Build
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.5.2
          target: esp32c6
          path: '.'
          command: CI=true idf.py --ccache build && idf.py merge-bin
      - name: Rename firmware
        run: sudo chown -R $USER:$USER build/ && mv build/HomeKey-ESP32.bin build/esp32c6.firmware.bin && mv build/merged-binary.bin build/esp32c6.firmware.factory.bin
      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: esp32c6-firmware
          path: build/esp32c6.firmware.bin
      - name: Archive merged binary
        uses: actions/upload-artifact@v4
        with:
          name: esp32c6-firmware-factory
          path: build/esp32c6.firmware.factory.bin
  esp32s3:
    runs-on: ubuntu-latest
    needs: littlefs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: 'recursive'
      - name: Get UI Build Directory
        uses: actions/download-artifact@v5
        with:
          name: ui-build-directory
          path: data/build
      - uses: actions/cache@v4
        with:
          path: |
            ~/.ccache
            managed_components
          key: ${{ runner.os }}-esp32s3-build
      - name: ESP32S3 Build
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.5.2
          target: esp32s3
          path: '.'
          extra_docker_args: -v ~/.ccache:/root/.ccache -e CCACHE_DIR=/root/.ccache
          command: CI=true idf.py --ccache build && idf.py merge-bin
      - name: Rename firmware
        run: sudo chown -R $USER:$USER build/ && mv build/HomeKey-ESP32.bin build/esp32s3.firmware.bin && mv build/merged-binary.bin build/esp32s3.firmware.factory.bin
      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: esp32s3-firmware
          path: build/esp32s3.firmware.bin
      - name: Archive merged binary
        uses: actions/upload-artifact@v4
        with:
          name: esp32s3-firmware-factory
          path: build/esp32s3.firmware.factory.bin
  pre-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [littlefs, esp32, esp32c3, esp32c6, esp32s3]
    steps:
      - name: Get Artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
          merge-multiple: true
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "dev"
          prerelease: true
          files: |
            artifacts/esp32.firmware.bin
            artifacts/esp32.firmware.factory.bin
            artifacts/esp32c3.firmware.bin
            artifacts/esp32c3.firmware.factory.bin
            artifacts/esp32c6.firmware.bin
            artifacts/esp32c6.firmware.factory.bin
            artifacts/esp32s3.firmware.bin
            artifacts/esp32s3.firmware.factory.bin
            artifacts/littlefs.bin
